.custom-select {
  position: relative;
  width: 260px;
  z-index: 100;
  font-size: 0.85em;
  border: 1px solid #bfbfbf;

  .current-selected {
    display: block;
    cursor: pointer;
    padding: 0 40px 0 10px;
    height: 26px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
    background: url(../img/bg_custom_select_selected.png) right center no-repeat;
  }

  .custom-select-wrapper {
    position: absolute;
    left: -999em;
    z-index: 100;
    width: 100%;
  }

  .bottom {
    width: 260px;
    height: 6px;
    line-height: 6px;
    font-size: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
    float: none;
    line-height: 1.09;
    padding: 0;
    border-bottom: 1px solid #efefef;

    a {
      display: block;
      padding: 3px 10px;
      color: #000;
      text-decoration: none;

      &:hover,
      &.current {
        background: #def0f8;
        text-decoration: none;
      }
    }
  }

  &.open {
    .custom-select-wrapper {
      left: auto;
      background: #fff;
      border: 1px solid #bfbfbf;
      margin-left: -1px;
    }
  }
}
